@import url('https://fonts.cdnfonts.com/css/cash-currency');

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Cash Currency";
  justify-content: center;
  align-items: center;
  text-align: center;
}

.entry {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 955px) {
  .entry {
    flex-direction: column;
  }
}

.money-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 20px;
}

.object {
  border: blue solid 3px;
  outline: none;
  font-size: 1.5rem;
  padding: 20px;
}

.object-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  padding: 5px;
}

.money {
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.compare-btn {
  width: 200px;
  height: 10vh;
  background: green;
  border: 3px solid green;
  border-radius: 20px;
  color: white;
  font-family: "Cash Currency";
  font-size: 1.5rem;
}

.compare-btn:hover {
  cursor: pointer;
}

.dollar-input {
  display: flex;
  flex-direction: row;
  border: 3px green solid;
}

.placeholder {
  display: flex;
  place-content: center;
  align-items: center;
}